body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,Audiowide, "Roboto", 
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: calc(100vh - 99px);
  margin-top: 4rem;
}