body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Audiowide", "Roboto", "sans-serif",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  margin-top: 4rem;
  padding: 1.25rem;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-evenly;
}

.app__header {
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__dropdown {
  width: 15rem;
}

.app__stats{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.app__graph {
  text-align: center;
  height: calc(100vh - 20.65rem);
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.app__graphTitle {
  margin-bottom: 1rem;
}

.app__left {
  flex: 0.9;
}

.app__right .MuiCardContent-root {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (max-width: 990px) {
  .app, .app__stats {
    flex-direction: column;
  }

  .app__graph{
    margin-right: 0;
  }
}
