.blog{
    background-color: #161625;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30rem;
    width: 100%;
}

.heading{
    margin-top: 4rem;
    padding: 2rem 0;
    font-size: 3rem;
    color: #bdbdbd;
}

.section{
    padding: 1rem 6rem;
    font-size: 1.125rem;
}

.question{
   color: #6c757d;
}

.answer{
    padding: 1rem 0;
    color: #007bff;
}

.topics{
    display: flex;
}

.topics li{
    margin: 0 1rem;
    color: #bdbdbd;
}

@media screen and ( max-width: 480px){
    .heading{
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .section{
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .topics{
        flex-direction: column;
        font-size: 1rem;
    }
}

.topics .MuiButtonBase-root:hover{
background-color: #1e1e30 !important;
    color: #eee !important;
}