.footer {
  background-color: #161625;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.links a{
  padding:0 0.5rem;
  text-decoration:none;
  color:#bdbdbd;
}

.links a:hover{
  border-radius: 0.2rem;
  color: #161625;
  background-color: rgba(255, 255, 255, 0.75);
}
