.infoBox {
  flex: 1;
  cursor: pointer;
}

/* .infoBox:not(:last-child) {
  margin-right: 1rem;
} */

.infoBox__cases {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 1rem !important;
}
