.infoBox {
  flex: 1;
}

.infoBox__cases {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 1rem !important;
}

@media screen and (max-width:990px){
  .infoBox{
    margin-right: 0;
  }
}