.body {
  margin: 0px;
  overflow: hidden;
  height: 100vh;
  background: radial-gradient(circle, #240015 0%, #12000b 100%);
  animation: hueRotate 6s ease-in-out 3s infinite;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  font-size: 15rem;
  text-transform: uppercase;
  color: #12000a;
  font-weight: 300;
  font-family: Audiowide;
  text-shadow: 0px 0px 4px #12000a;
  animation: fadeInText 3s ease-in 1s forwards, flicker 5s linear 7.5s infinite,
    hueRotate 6s ease-in-out 3s infinite;
}

.message {
  font-size: 2rem;
  text-transform: uppercase;
  color: #12000a;
  font-weight: 300;
  font-family: Audiowide;
  text-shadow: 0px 0px 4px #12000a;
  animation: fadeInText 3s ease-in 1s forwards, flicker 5s linear 7.5s infinite,
    hueRotate 6s ease-in-out 3s infinite;
}

.btn {
  color: #12000a;
  text-shadow: 0px 0px 4px #12000a;
  animation: fadeInText 3s ease-in 1s forwards, flicker 5s linear 7.5s infinite,
    hueRotate 6s ease-in-out 3s infinite;
}

@keyframes flicker {
  0% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  30% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  31% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  32% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  36% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  37% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  41% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  42% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  85% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  86% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  95% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  96% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  100% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
}

@keyframes fadeInText {
  1% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  70% {
    color: #ff005d;
    text-shadow: 0px 0px 14px #ff005d;
  }
  100% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-120deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
